/* Reset
------------------------------------------------------------------------- */

/* Based on http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

:focus { outline: 0; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { outline: none; }

/* General
---------------------------------------------------------------------------- */

body {
  font-family: "Monaco", "Courier New", monospace;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  background-color: #fff;
  color: #000000;
}

a:link, a:visited {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

td.list a[href*='a=tree'], td.list a[href*='a=blob'] {
  padding-left: 20px;
  display: block;
  float: left;
  height: 16px;
  line-height: 16px;
}

td.list a[href*='a=tree'] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABq0lEQVQ4y8WTu4oUQRSGv+rtGVuxhwVFdFEEE2c3d0HYTEMTn8DEVxADQTDUF9DMwMxQMBMx8AEWzRQ3cBHd9TI91+2urjq/QbczY2IygSep4nD+79yqnCRWsYQVbWVACvDh5ZXdrLe15dwyT1TjT/sxFFeB6i+VA2B6+cb7kAI4Jf0LO087zjlQI8Y5Qvnj0sHug321XoC1bk+K9eHk6+s7wPMUgKAS88eqb4+Jfg2SHs7lZBvX2Nh+2EUCDGSAcMnJsx9f7NxfAGqXyDzRd5EJO/pMPT1gcviGTnYOVIN5pAAE8v7dLrKL8xnglFk4ws9Afko9HpH3b5Gd2mwb/lOBmgrSdYhJugDUCenxM6xv3p4HCsP8F0LxCsUhCkMURihOyM7fg0osASTFEpu9a4LjGIUCqwcoDiEUrX+E4hRUQb20RiokC1j9vckUhygU7X3QZh7NAVKYL7YBeMkRUfjVCotF2XGIwnghtrJpMywB5G0QZj9P1JNujuWJ1AHLQadRrACPkuZ0SSSWpeStWgDK6tHek5vbiOs48n++XQHurcf0rFng//6NvwG+iB9/4duaTgAAAABJRU5ErkJgggo=) center left no-repeat;
}

td.list a[href*='a=blob'] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAA6ElEQVQoFQXBMW5TQRgGwNnHnoE0QbiCjoIooUmTU3AuS1BwIoTSUdJBigg3GCWOg9/++zHTop078wIAsPMrE4SL5/1aIyMjIyMjz/m0tbFECFdrPeaQQw75mz/5nZH7fN7aWILmauSYfznmmIfss8vIUx7zZWsTTXM5vpWvTk5Wq9VHQP/gtgOLa0Qpw940vAQdaG6thpOhlOkG0AEuAVGmEkAH+G4YSikxXQM6wDsAMRFAB/ihDNNUmN4DOsAbBAEAdICfpmmaAt4COoj2GgCASbIkZh1NAACznhQt2itnFgAAlF3u/gMDtJXPzQxoswAAAABJRU5ErkJgggo=) center left no-repeat;
}

i {
  font-style: normal;
}

td, th {
  padding: 5px;
}

.page_nav br {
  display: none;
}

/* Page Header
---------------------------------------------------------------------------- */

.page_header {
  height: 50px;
  line-height: 50px;
  position: relative;
  padding: 0 27px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Helvetica, Arial, Freesans, Clean, sans-serif;
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F5F5F5)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F5F5F5',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);
  border-bottom: 1px solid #dfdfdf;
}

.page_header a:link, .page_header a:visited {
  color: #4183C4;
  text-decoration: none;
  padding: 3px;
  font-weight: bold;
}

.page_header a:hover {
  font-weight: bold;
  padding: 3px;
  text-decoration: underline;
}

.page_header a:first-child {
  background: transparent;
}

.page_header img.logo {
  display: none;
}

/* Page Footer
---------------------------------------------------------------------------- */

.page_footer {
  height: 80px;
  line-height: 80px;
  padding: 0 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  background: #f1f1f1;
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.page_footer_text {
  color: #666;
  display: inline;
  float: left;
}

a.rss_logo {
  float: right;
  padding: 3px 1px;
  width: 35px;
  line-height: 10px;
  border: 1px solid;
  border-color: #fcc7a5 #7d3302 #3e1a01 #ff954e;
  color: #ffffff;
  background-color: #ff6600;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 80%;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 5px;
}

a.rss_logo:hover {
  background-color: #ee5500;
}

/* Elements
---------------------------------------------------------------------------- */

.project_list,
.shortlog,
.tree,
.commit_search,
.history {
  width: 95%;
  margin: 0 auto 15px auto;
  border: 1px solid #d8d8d8;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.project_list th,
.shortlog th,
.tree th,
.commit_search th {
  color: #afafaf;
  font-weight: normal;
}

.project_list tr,
.shortlog tr,
.tree tr,
.commit_search tr {
  background: #eaeaea;
  height: 2.5em;
  text-align: left;
  color: #545454;
}

.project_list tr.dark, .project_list tr.light,
.shortlog tr.dark, .shortlog tr.light,
.tree tr.dark, .tree tr.light,
.commit_search tr.dark, .commit_search tr.light,
.history tr.dark, .history tr.light,
.heads tr.dark, .heads tr.light {
  background: #F9F9F9; /* old browsers */
  background: -moz-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#EFEFEF)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#EFEFEF',GradientType=0 ); /* ie */
  background: -o-linear-gradient(top, #F9F9F9 0%, #EFEFEF 100%);
  height: 2.5em;
  border-bottom: 1px solid #e1e1e1;
}

th .header {
  background: transparent;
  border: 0;
  padding: 0;
}

.tree {
  width: 100%;
  margin: 0;
}

.projsearch {
  position: absolute;
  right: 4%;
  top: 15px;
}

.commit_search {
  background: #eaeaea;
}

.page_nav,
.list_head,
.page_path,
.search {
  width: 94%;
  background: #eaeaea;
  color: #545454;
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 0 auto 15px auto;
}

.history {
  background: #eaeaea;
}

.title {
  width: 95%;
  padding: 5px;
  margin: 0 auto 15px auto;
}

.projects_list,
.tags {
  width: 95%;
  background: #f0f0f0;
  color: #545454;
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 0 auto 15px auto;
}

.heads {
  width: 95%;
  color: #545454;
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 0 auto 15px auto;
}

.header {
  width: 94%;
  margin: 0 auto 15px auto;
  background: #eaf2f5;
  border: 1px solid #bedce7;
  padding: 5px;
}

.header .age {
  float: left;
  color: #000;
  font-weight: bold;
  width: 10em;
}

.title_text {
  width: 94%;
  background: #eaf2f5;
  border: 1px solid #bedce7;
  padding: 5px;
  margin: 0 auto 0 auto;
}

.log_body {
  width: 94%;
  background: #eaf2f5;
  border: 1px solid #bedce7;
  border-top: 0;
  padding: 5px;
  margin: 0 auto 15px auto;
}

.page_body {
  line-height: 1.4em;
  width: 94%;
  background: #f8f8f8;
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 15px auto 15px auto;
}

.diff_tree {
  width: 95%;
  background: #f0f0f0;
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 0 auto 15px auto;
}

.page_body > .list_head {
  width: 98.5%;
}

.page_body > .diff_tree {
  width: 99.5%;
}

.patch > .header {
  width: 98.5%;
}

/* Refs
---------------------------------------------------------------------------- */

span.refs span {
  color: #000;
  padding: 0px 4px;
  font-size: 10px;
  font-weight: normal;
  border: 1px solid;
  background-color: #ffaaff;
  border-color: #ffccff #ff00ee #ff00ee #ffccff;
}

span.refs span.ref {
  background-color: #aaaaff;
  border-color: #ccccff #0033cc #0033cc #ccccff;
}

span.refs span.tag {
  background-color: #ffffaa;
  border-color: #ffffcc #dccd00 #dccd00 #ffffcc;
}

span.refs span.head {
  background-color: #aaffaa;
  border-color: #ccffcc #00cc33 #00cc33 #ccffcc;
}

span.refs a {
  color: #000;
}

/* Diffs
---------------------------------------------------------------------------- */

.patchset {
  overflow-x: auto;
  overflow-y: hidden;
}

.chunk_header {
  background: #eaf2f5;
  color: #999;
}

.rem {
  background: #ffdddd;
}
.add {
  background: #ddffdd;
}

/* Age
---------------------------------------------------------------------------- */

/* noage: "No commits" */
.project_list td.noage {
  color: #cdcdcd;
}

/* age2: 60*60*24*2 <= age */
.project_list td.age2, .blame td.age2 {
  color: #545454;
}

/* age1: 60*60*2 <= age < 60*60*24*2 */
.project_list td.age1 {
  color: #009900;
}

/* age0: age < 60*60*2 */
.project_list td.age0 {
  color: #009900;
  font-weight: bold;
}

/* File status
---------------------------------------------------------------------------- */

.diff_tree span.file_status.new {
  color: #008000;
}

table.diff_tree span.file_status.deleted {
  color: #c00000;
}

table.diff_tree span.file_status.moved,
table.diff_tree span.file_status.mode_chnge {
  color: #545454;
}

table.diff_tree span.file_status.copied {
  color: #70a070;
}

span.cntrl {
  border: dashed #aaaaaa;
  border-width: 1px;
  padding: 0px 2px 0px 2px;
  margin:  0px 2px 0px 2px;
}

span.match {
  background: #aaffaa;
  color: #000;
}

td.error {
  color: red;
  background: yellow;
}

/* blob view */

td.pre, div.pre, div.diff {
  white-space: pre;
}

/* Style definition generated by highlight 2.4.5, http://www.andre-simon.de/ */

/* Highlighting theme definition: */

.num    { color:#6ecf36; }
.esc    { color:#ff00ff; }
.str    { color:#ff00d3; background-color: #edc9ec }
.dstr   { color:#818100; }
.slc    { color:#838183; font-style:italic; }
.com    { color:#838183; font-style:italic; }
.dir    { color:#008200; }
.sym    { color:#000000; }
.line   { color:#555555; }
.kwa    { color:#666666; font-weight:bold; }
.kwb    { color:#6b3099; }
.kwc    { color:#d4663d; }
.kwd    { color:#2928ff; }

